.Container {
    width: 100%;
    height: 100vh;
    background: #030C13 url('../../assets/logo.png') no-repeat 35% 15%;
    background-size: 350px;
    display: flex;
    box-sizing: border-box;
  }

  main {
    width: 75%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .gameMain {
    width: 100%;
    height: 40%;
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-left: 1px solid white;
    min-width: 250px;
    justify-content: center;
    align-items: center;
  }