.AnswerBox {
  width: 40%;
  margin: 0;
}

.AnswerBox input[type='checkbox'] {
  display: none;
}

.AnswerBox label {
  display: flex;
  width: 100%;
  height: 40px;
  background: rgb(3, 12, 19);
  background: radial-gradient(
    circle,
    rgba(3, 12, 19, 1) 57%,
    rgba(32, 45, 55, 1) 85%,
    rgba(6, 46, 76, 1) 97%
  );
  border: 2px solid #cbc8de;
  border-radius: 15%;
  margin: 5px;
  color: #fff;
  word-wrap: break-word;
}

.AnswerBox label p {
  width: 100%;
  padding-right: 40px;
  align-self: center;
  text-align: center;
}

.AnswerBox span {
  align-self: center;
  color: #D36C16;
  font-weight: bold;
}

.AnswerBox label:hover {
  filter: brightness(1.5);
}

input:checked + label.correct {
  animation: colorchangecorrect 2s linear forwards;
  background: rgba(252, 205, 77, 1);
  background: linear-gradient(
    to bottom,
    rgba(252, 205, 77, 1) 0%,
    rgba(244, 147, 45, 1) 52%,
    rgba(251, 223, 147, 1) 100%
  );
}

input:checked + label.wrong {
  animation: colorchangewrong 2s linear forwards;
  background: rgba(252, 205, 77, 1);
  background: linear-gradient(
    to bottom,
    rgba(252, 205, 77, 1) 0%,
    rgba(244, 147, 45, 1) 52%,0
    rgba(251, 223, 147, 1) 100%
  );
}

@keyframes colorchangecorrect {
  from {
    background: rgba(252, 205, 77, 1);
    background: linear-gradient(
      to bottom,
      rgba(252, 205, 77, 1) 0%,
      rgba(244, 147, 45, 1) 52%,
      rgba(251, 223, 147, 1) 100%
    );
  }
  to {
    background: green;
  }
}

@keyframes colorchangewrong {
  from {
    background: rgba(252, 205, 77, 1);
    background: linear-gradient(
      to bottom,
      rgba(252, 205, 77, 1) 0%,
      rgba(244, 147, 45, 1) 52%,
      rgba(251, 223, 147, 1) 100%
    );
  }
  to {
    background: red;
  }
}
